<%include ./partials/header%>
<div class="container main">
    <h1>Index page</h1>
    <%blogs.forEach(function(blog){%>
        <div>
            <h2><%=blog.title%></h2>
            <img src="<%=blog.image%>">
            <div><%= blog.created%></div>
            <p><%=blog.body.substring(10,0)%>...</p>
            <a class="ui teal image label" href="/blogs/<%=blog._id%>">
              <img src="<%=blog.image%>">
              Read more
            </a>
        
        </div>
    <%})%>
</div>
<%include ./partials/footer%>
